* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: relative;
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
  
.dark {
  background-color: hsl(235, 21%, 11%);
  color: white;
}

.light {
  background-color: white;
  color: white;
}

 a {
  text-decoration: none;
}

 .toggle img {
  display: none;
}

.dark .toggle .sun {
  display: block;
}

.light .toggle .moon {
  display: block;
}

}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-30 {
  margin-bottom: 30px;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 15px;
}

.backgroundImage {
  height: 30vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.container.dark .backgroundImage {
  background-image: url('./assets/bg-desktop-dark.jpg');
}

.container.light .backgroundImage {
  background-image: url('./assets/bg-desktop-light.jpg');
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.space-between {
  justify-content: space-between;
}

.container {
  width: 80%;
  max-width: 550px;
  margin: auto;
  position: relative;
  z-index: 1;
  padding-top: 10vh;
}

.input-container {
  border-radius: 5px;
}

.todo-container {
  font-size: 18px;
  padding: 1em;
}

.app.dark .todo-container {
  color: hsl(234, 39%, 85%);
  background-color: hsl(231.82deg 22.92% 18.82%);
}

.app.light .todo-container {
  color: black;
  background-color: white;
  border-color: hsl(252deg 7.69% 87.25%);
}

.todo-container:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.todos-stats.mobile {
  display: none;
}

.todos-stats.mobile .filter {
  text-align: center;
}

@media (max-width: 760px) {
  .todos-stats.desktop {
    display: none;
  }

  .todos-stats.mobile {
    display: block;
  }
}

.todos-stats,
.todos-stats button {
  font-size: 16px;
}

.app.dark .todos-stats,
.app.dark .todos-stats button {
  color: rgb(83 86 108);
}

.app.light .todos-stats,
.app.light .todos-stats button {
  color: hsl(240deg 5.56% 57.65%);
}

.todos-stats .filter button:nth-child(2) {
  padding: 0 20px;
}

.todos-stats .filter button.active {
  color: hsl(220, 98%, 61%);
}

.todos-stats.todo-container {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.app.light .todos {
  box-shadow: 0px 60px 50px -10px hsl(252deg 7.69% 87.25%);
}

.todos .todo-container {
  border-bottom: 1px solid hsl(231.82deg 16.67% 25.88%);
}

input {
  width: 100%;
  background: transparent;
  font-size: 18px;
  border: none;
  outline: none;
  color: hsl(234, 39%, 85%);
  caret-color: hsl(220, 98%, 61%);
}

.todo {
  display: flex;
  justify-content: space-between;
}

.check {
  width: 30px;
  height: 30px;
  border: 1px solid hsl(231.82deg 18.03% 23.92%);
  border-radius: 50%;
}

.app.light .check {
  border-color: hsl(252deg 7.69% 87.25%);
}

.todo.completed p {
  text-decoration: line-through;
  color: hsl(232.17deg 13.61% 33.14%);
}

.app.light .todo.completed p {
  color: hsl(252deg 6.02% 83.73%);
}

.todo.completed button.check {
  background-image: url("./assets/icon-check.svg"),
    linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}